/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

a {
  text-decoration: none;
}

header {
  width: 100%;
}

header .inner {
  width: calc(100% - 350px);
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .inner .logo {
  margin: 0 0 0 50px;
}

header .inner .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .inner .nav li {
  margin-right: 35px;
}

header .inner .nav li a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 0 14px;
}

header .inner .gnb {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .inner .gnb li {
  margin-right: 35px;
}

main {
  width: 100%;
  position: relative;
}

main .main_img {
  width: 100%;
  height: 500px;
  position: relative;
}

main .dot {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  position: absolute;
}

.section01 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section01 .inner .search{
  width: 900px;
  height: 60px;
  border: 1px solid lightgray;
  background-color: #fff;
}

.section01 .inner h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 80px 0 30px 0;
}

.section01 .inner .search input {
  font-size: 16px;
  width: 325px;
  padding: 20px;
  border: 0px;
  outline: none;
  float: left;
}

.section01 .inner .search button {
  width: 50px;
  height: 100%;
  border: 0px;
  background-color: #fff;
  outline: none;
  float: right;
  color: #fff;
}

.section01 .inner .search button i {
  color: #000;
}
.section01 .inner .search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.section01 .inner .search_btn li {
  margin-left: 20px;
  margin-bottom: 80px;
}

.section01 .inner .search_btn li:first-child{
  margin-left: 0px;
}

footer .inner {
  width: calc(100%-350px);
  margin: 0 auto;
}

footer .inner .footer_top ul{
  display: flex;
  padding: 14px 0px 14px 100px ;
  border-bottom: 1px solid lightgray;
}

footer .inner .footer_top ul li a {
  color: #000;
  font-size: 16px;
  margin: 7px 20px 0px 0px;
}

footer .inner .footer_btn {
  margin-top: 30px;
}

footer .inner .footer_btn .company,
footer .inner .footer_btn .phone_number,
footer .inner .footer_btn .prohibition,
footer .inner .footer_btn .copy,
footer .inner .footer_btn ul.cite,
footer .inner .footer_btn ul.mark{
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 2rem;
  margin-left: 100px
}

footer .inner .footer_btn ul li a {
  color: #000;
  font-size: 16px;
  margin: 7px 20px 0px 0px;
}

footer .inner .footer_btn ul.company li::before{
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #000;
  position: absolute;
  right: -10px; top: 0;
}

footer .inner .footer_btn .cite li {
  margin: 35px 15px 15px 0px;
}

footer .inner .footer_btn .mark li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .inner .footer_btn .mark li a img {
  margin:20px 15px 30px 

}