@charset "utf-8";

a {
  text-decoration: none;
}

header {
  width: 100%;
}

header .inner {
  width: calc(100% - 500px);
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .inner .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 이 세개는 세트 */
}

header .inner .nav li {
  margin-right: 35px;
}

header .inner .nav li:last-child {
  margin-right: 0;
}

header .inner .nav li a {
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  padding: 0 14px;
}

main {
  width: 100%;
  position: relative;
}

main .main_img {
  width: 100%;
}

main .dot {
  display: flex;
  width: 200px;
  height: 11px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
}

main .dot li a {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  background-color: none;
  border: 1px solid #fff;
  border-radius: 100%;
}

.section01 {
  width: 100%;
}

.section01 .inner {
  padding: 8rem 8rem 0 8rem;
}

.section01 .inner h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}

.section01 .inner .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
}

.section01 .inner .wrap .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: 200px;
  height: 200px;
  border-radius: 100%;

}

.section01 .inner .wrap li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.section01 .inner .wrap li .text_wrap {
  text-align: left;
  margin-left: 30px;
}

.section01 .inner .wrap li .text_wrap p {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.section01 .inner .wrap p {
  display: flex;
  align-items:center;
  color: #000;
  font-size: 1.46rem;
  font-weight: 500;
}

.section01 .inner .wrap a {
  color: #7c7c7c;
}

.section02 {
  background-color: #f6f6f6;
  padding: 5rem 0;
}

.section02 .inner {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section02 .inner h2 {
  font-size: 2rem;
  font-weight:bold;
  padding: 0 10rem;
}

.section02 .inner ul{
  width: 980px;
}

.section02 .inner ul li ul,
.section01 .inner ul li:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section02 .inner ul li ul li {
  width: 490px;
  height: 130px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.section02 .inner ul li ul li:first-child{
  margin-right: 7px;
}
.section02 .inner ul li ul li div {
  width: 215px;
  text-align: center;
  align-items: center;
}

.section02 .inner ul li ul li p {
  line-height: 2rem;
  font-size: 18px;
  color: #333;
}

.section02 .inner ul li.last_li{
  width: 100%;
  height: 130px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section02 .inner ul li.last_li div{
  width: 490px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
}

.section03 .inner {
  position: relative;
}
.section03 .inner .text_wrap {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section03 .inner img {
  width: 100%;
  height: auto;
}

.section03 .inner .text_wrap h2 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 2rem;
}

.section03 .inner .text_wrap p {
  font-size: 20px;
  color: #fff;
  padding-bottom: 2rem;
}

.section03 .inner .text_wrap h3 {
  font-size: 40px;
  color: #fff;
  padding-bottom: 2rem;
}

.section03 .inner .text_wrap .btn a {
  display:block;
  text-align: center;
  justify-content: center;
  width: 168px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  line-height: 50px;
  transition: .5s;
}

.section03 .inner .text_wrap .btn a:hover {
  background-color: #fff;
  color: #007aff;
}
.section04 {
  width: 100%;
}
.section04 .inner {
  width: calc(100% - 350px);
  margin: 0 auto;
}

.section04 .inner h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 150px 0 50px 0;
}

.section04 .inner .wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section04 .inner .wrap ul li a img {
  width: 320px;
  height: 196.13px;
}

.section04 .inner .wrap ul li a .test_wrap a{
  border: 1px solid #000;
}





footer {
  background-color: #f6f6f6;
  padding-top: 50px;
}

footer .inner {
  padding-bottom: 60px;
  border-bottom: 1px solid gainsboro
}

footer .inner a {
  color: #000;
}

footer .inner,
footer .last_footer{
  width: calc(100% - 500px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .last_footer {
  padding-top: 20px;
}
footer .inner .space .sitemape,
footer .inner .space .family_site,
footer .inner .space .sns {
  margin: 0 0 0 150px;
}

footer .inner .space .sitemape li,
footer .inner .space .sitemape li a,
footer .inner .space .family_site li,
footer .inner .space .family_site li a,
footer .inner .space .sns {
  line-height: 2rem;
  font-size: 13px;
}



footer .inner .space .sitemape li:first-child,
footer .inner .space .family_site li:first-child,
footer .inner .space .sns li{
  font-weight: bold;
  font-size: 16px;
}


footer .inner .comment li:first-child{
  font-size: 19px;
  line-height: 1.5;
}

footer .inner .comment li:nth-child(2){
  font-size: 32px;
}

footer .inner .comment li:last-child a{
  display: block;
  text-align: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 30px;
  margin: 50px 0 100px;
  line-height: 50px;
}

.sns ul, footer .inner .space {
  display: flex;
  align-items: start;
  justify-content: center;
}

footer .inner .sns ul li:first-child a img,
footer .inner .sns ul li:last-child a img {
display: block;
background-color: #333;
border-radius: 50px;
margin-left: 8px;
}

footer .last_footer {
  display: flex;
  align-items: center;
  justify-content: space-between
}

footer .last_footer li:first-child {
  font-size: 14px;
}

footer .last_footer li:first-child a {
  color: #777;
}

footer .last_footer li:last-child {
  font-size: 12px;
  color: #afafaf;
}